# Django specific
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Env variables
.env
# Django migrations
*/migrations/
!*/migrations/__init__.py

# Database
db.sqlite3
db.sqlite3-journal

# Media
/media

# Virtual environment
venv/
ENV/
env/
env.bak/
env.bak/

# Editor/IDE specific
.vscode/
.idea/
*.swp
*~

#
