{% load static %}
{% block sidebar %}
<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->


    <div id="scrollbar">
        <div class="container-fluid">
            <ul class="navbar-nav" id="navbar-nav">
                <!-- İmparator Ekle -->
                <li class="nav-item mt-4">
                    <a class="nav-link" href="#">
                        <i class="ri-user-add-line"></i> <span>İmparator Ekle</span>
                    </a>
                </li>

                <!-- Coin Ekle -->
                <li class="nav-item mt-4">
                    <a class="nav-link" href="#">
                        <i class="ri-money-dollar-circle-line"></i> <span>Coin Ekle</span>
                    </a>
                </li>

                <!-- Mühür Ekle -->
                <li class="nav-item mt-4">
                    <a class="nav-link" href="#">
                        <i class="ri-user-add-line"></i>
                        <span>Mühür Ekle</span>
                    </a>
                </li>
            </ul>




        </div>
        <!-- Sidebar -->
    </div>
    <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>
{% endblock sidebar %}