{% load static %}
{% block sub_topbar %}
<style>
  .btn-custom:hover {
      background-color: #343a40; /* Dark background color on hover */
      color: white; /* Change text color on hover */
  }
  
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Left Side: Brand Logo -->
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/numisma/logoson.png' %}" class="card-logo card-logo-dark" alt="logo dark" height="200" style="border-radius: 45%;">
            <img src="{% static 'images/numisma/logoson.png' %}" class="card-logo card-logo-light" alt="logo light" height="200" style="border-radius: 45%;">
        </a>
        
        <!-- Right Side: Info Icons and Buttons -->
        <div class="d-flex flex-column align-items-end ms-lg-auto me-5"> 
            <ul class="navbar-nav mt-2 mb-3">
                <li class="nav-item me-3">
                    <a class="btn btn-outline-dark btn-custom" href="#" role="button"><strong>About Us</strong></a>
                </li>
                <li class="nav-item me-3">
                    <a class="btn btn-outline-dark btn-custom" href="#" role="button"><strong>Contact</strong></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-dark btn-custom" href="#" role="button"><strong>EN | TR</strong></a>
                </li>
            </ul>

            <!-- Additional Title Below (with spacing) -->
            <div class="mt-4">
              <h5 class="text-uppercase" style="letter-spacing: 1px; font-family: 'Arial', sans-serif; color: #4a4a4a; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);">
                DIGITAL BYZANTINE NUMISMATIC PROJECT OF ANATOLIA
            </h5>
            
            </div>
        </div>
    </div>
    
</nav>

<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="fs-15">ABOUT</h5>
                <p class="text-muted">AboutHeader Image Welcome to NOMISMATA database, geo and chrono reference of Byzantine Coin Finds (hoards, single finds and foundation deposits)
                    Current version is 1.0 (beta version) - January 2023
                    You can navigate via 4 header menus:
                    Byzantine Coin Find- Mints- Coins- Sources
                    You have also a Filter menu from where you pick your filter options
                    When you select one or more filters you access the Menu bar (middle center screen) from where you can List, Map, Network, Chart the results of your queries
                    By clicking on any object (dot, list, bar, etc.) you get access to the master data behind
                    Middle right screen there is a legend, from where you can switch on/off what you see on the map
                    Bottom screen there is the time slider you can use to diachronically see your data
                    Any kind of feedback (especially bugs, imperfections, missing infos, etc.) is more than welcome.
                    Pls address your feedback to: Giorgio Donato - Independent Researcher at University of Trieste (Italy) - Department of Humanities - GIORGIO.DONATO@studenti.units.it or giorgio.donato22@gmail.com
                </p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock %}
