{% load static %}
{% block topbar %}
<!-- templates/partials/topbar.html -->
<nav class="navbar navbar-expand-lg navbar-landing job-navbar" id="navbar">
    <div class="container-fluid custom-container">
        <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="mdi mdi-menu"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
                <!-- Coins Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCoins" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Byzantine Coins
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownCoins">
                        <li><a class="dropdown-item" href="{% url 'emperor' %}">Emperor</a></li>
                        <li><a class="dropdown-item" href="#">Mint</a></li>
                        <li><a class="dropdown-item" href="#">Metal</a></li>
                    </ul>
                </li>

                <!-- Seals Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSeals" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Byzantine Seals
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownSeals">
                        <li><a class="dropdown-item" href="#">Imperial</a></li>
                        <li><a class="dropdown-item" href="#">Administrative</a></li>
                        <li><a class="dropdown-item" href="#">Personal</a></li>
                        <li><a class="dropdown-item" href="#">Anonymous</a></li>
                    </ul>
                </li>

                <!-- Static Links -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Publications</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock topbar %}



<!-- App js -->
<script src="{% static 'js/app.js'%}"></script>
