{% extends "partials/base.html" %}
{% load static %}
{% block title %}Form layout{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        {% block pagetitle %}
                        
                        {% endblock pagetitle %}
    



                        <div class="row">
                            <div class="col-xxl-12">
                                <div class="card">
                                    <div class="card-header align-items-center d-flex">
                                        <h4 class="card-title mb-0 flex-grow-1">Vertical Form</h4>
                                        <div class="flex-shrink-0">
                                           
                                        </div>
                                    </div><!-- end card header -->
                                    <div class="card-body">
                                        <p class="text-muted">Example of vertical form using <code>form-control</code> class. No need to specify row and col class to create vertical form.</p>
                                        <div class="live-preview">
                                            <form action="javascript:void(0);">
                                                <div class="mb-3">
                                                    <label for="employeeName" class="form-label">Employee Name</label>
                                                    <input type="text" class="form-control" id="employeeName" placeholder="Enter emploree name">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="employeeUrl" class="form-label">Employee Department URL</label>
                                                    <input type="url" class="form-control" id="employeeUrl" placeholder="Enter emploree url">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="StartleaveDate" class="form-label">Start Leave Date</label>
                                                    <input type="date" class="form-control" data-provider="flatpickr" id="StartleaveDate">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="EndleaveDate" class="form-label">End Leave Date</label>
                                                    <input type="date" class="form-control" data-provider="flatpickr" id="EndleaveDate">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="VertimeassageInput" class="form-label">Message</label>
                                                    <textarea class="form-control" id="VertimeassageInput" rows="3" placeholder="Enter your message"></textarea>
                                                </div>
                                                <div class="text-end">
                                                    <button type="submit" class="btn btn-primary">Add Leave</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="d-none code-view">

                                        </div>   
                                    </div>
                                </div>
                            </div>
                           
                        </div><!--end row-->





                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                
            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock footer %}
            </div>
            <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <!-- prismjs plugin -->
    <script src="{% static 'libs/prismjs/prism.js'%}"></script>
{% endblock extra_js %}