{% load static %}

<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none">

<head>

    <meta charset="utf-8" />
    <title>CMD NUM | Velzon - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!--Swiper slider css-->
    <link href="{% static 'libs/swiper/swiper-bundle.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Layout config Js -->
    <script src="{% static 'js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- leaflet Css-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- flag Css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icons/css/flag-icons.min.css">

 
    

</head>

<body  >
        <!-- Begin page -->
        <div class="layout-wrapper landing">
          <nav class="navbar navbar-expand-lg navbar-landing  job-navbar" id="navbar">
            <div class="container-fluid custom-container">
                <a class="navbar-brand" href="">
                    <img src="{% static 'images/numisma/logo.png' %}" class="card-logo card-logo-dark" alt="logo dark" height="100">
                    <img src="{% static 'images/numisma/logo.png' %}" class="card-logo card-logo-light" alt="logo light" height="100">
                </a>
                <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
                        <li class="nav-item">
                            <a class="nav-link active" href="#hero">Finds </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#process">Coins</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#categories">Seals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#findJob">Seal İssuer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#candidates">Sources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#blog">Mints</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" >All datas</a>
                        </li>
                       
                        
                    </ul>
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ri-global-line align-bottom me-1"></i> Change Language
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" onclick="changeLanguage('en')">
                                    <span class="fi fi-gb me-2"></span> English
                                </a>
                                <a class="dropdown-item" href="#" onclick="changeLanguage('tr')">
                                    <span class="fi fi-tr me-2"></span> Türkçe
                                </a>
                            </div>
                        </li>
                        
                    </ul>

            
                        
                    
                </div>

            </div>
        </nav>
       
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-sub">
            <div class="container">
                <form class="d-flex w-100">
                    <div class="input-group">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Filter
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                            <li>
                                <div class="dropdown-item">
                                    <span>By Name</span>
                                    <button class="btn btn-outline-primary btn-sm">Search</button>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-item">
                                    <span>By Location</span>
                                    <button class="btn btn-outline-primary btn-sm">Search</button>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-item">
                                    <span>By Date</span>
                                    <button class="btn btn-outline-primary btn-sm">Search</button>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-item">
                                    <span>By Category</span>
                                    <button class="btn btn-outline-primary btn-sm">Search</button>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-item">
                                    <span>By Status</span>
                                    <button class="btn btn-outline-primary btn-sm">Search</button>
                                </div>
                            </li>
                        </ul>
                        <span class="input-group-text">
                            <i class="bx bx-search fs-4"></i> <!-- Magnifying glass icon -->
                        </span>
                    </div>
                </form>
            </div>
        </nav>
        
            
        
           

            <div id="map" style="height: 700px;"></div>
            



<div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Modal Heading</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
            <div class="modal-body">
                <h5 class="fs-15">
                    Overflowing text to show scroll behavior
                </h5>
                <p class="text-muted">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
                <p class="text-muted">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought.</p>
                <p class="text-muted">It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

        </div>
        <!-- end layout wrapper -->



    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>

    <!--Swiper slider js-->
    <script src="{% static 'libs/swiper/swiper-bundle.min.js' %}"></script>
    <!--job landing init -->
    <script src="{% static 'js/pages/job-lading.init.js' %}"></script>
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script>
        function changeLanguage(language) {
            // Bu fonksiyon dil değişikliği işlemini gerçekleştirecek
            if (language === 'en') {
                console.log("Language changed to English");
                // Dil değişikliğine yönelik kodlarınızı buraya ekleyin
            } else if (language === 'tr') {
                console.log("Dil Türkçe'ye değiştirildi");
                // Dil değişikliğine yönelik kodlarınızı buraya ekleyin
            }
        }
    </script>
    <script>
        // Haritayı başlat
        var map = L.map('map').setView([39.9334, 32.8597], 6); // Başlangıç koordinatları: Türkiye (Ankara) ve zoom seviyesi
    
        // Harita katmanını ekle (OpenStreetMap)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    
        // İsteğe bağlı olarak, Türkiye üzerine bir marker ekleyebilirsiniz
        var marker = L.marker([39.9334, 32.8597]).addTo(map);
        marker.bindPopup("<b>Türkiye</b><br>Başkent: Ankara").openPopup();
    </script>
    <script>
        // Initialization for ES Users
import { Dropdown, Collapse, initMDB } from "mdb-ui-kit";

initMDB({ Dropdown, Collapse });
    </script>
</body>

</html>